.basket {
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.basket_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .basket {
    flex-direction: column;
    padding: 1rem 1rem 4rem 1rem;
  }
}
