:root {
  --primary-color: #f5f5dc;
  --secondary-color: #a9a9a9;
  --tertiary-color: #5ad0a9;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  min-height: 100vh;
  position: relative;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
}

main {
  padding-bottom: 2.5rem;
}
