.product_list {
  /* display: flex; */
  padding: 24px 24px 4rem 24px;
}

.product_list_products {
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
  padding: 1rem;
  border-radius: 1rem;
}

.product_list_products a {
  transition: scale 0.3s;
}

.product_list_products a:hover {
  scale: 1.02;
}

@media (max-width: 640px) {
  .product_list_products a {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .product_list_products a {
    width: calc((100% - 1rem) / 2);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product_list_products a {
    width: calc((100% - 1rem) / 2);
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .product_list_products a {
    width: calc((100% - 2rem) / 3);
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .product_list_products a {
    width: calc((100% - 3rem) / 4);
  }
}

@media (min-width: 1536px) and (max-width: 1920px) {
  .product_list_products a {
    width: calc((100% - 4rem) / 5);
  }
}

@media (min-width: 1920px) {
  .product_list_products a {
    width: calc((100% - 4rem) / 5);
  }
}

.product_list__no_products {
  text-align: center;
}
